
<div class="ly-plate">
    <div class="rotate-bg"></div>
    <div class="lottery-star"><img src="~/Content/Images/rotate-static.png" id="lotteryBtn"></div>
</div>

@Html.Partial("DstBox/_MemberForm")

<div id="resultBox" class="dst">
</div>

@Html.Partial("DstBox/_Feedback")